





html {
  font-size: 150%;
}

@media (min-width: 1200px) {
  html {
    margin: 0 10vw;
  }
}

.gradient {
  /* gradient blue text*/
  background: -webkit-linear-gradient(315deg,#448899 25%,#334488);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

a {
  color: #5555BB;
  text-decoration: underline;
}

